extends layout.pug

block header
  div.app__trees
    a(href=`/`) ../
    div.app__branch-name= `${branch} ${commit || ''}`

block content
  div.app__content
    ul.item-list
      li.item-list__row.--header
        .item-list__cell
          span хеш
        .item-list__cell
          span комментарий
        .item-list__cell.--author
          span автор
      each commit in commitsArr
        li.item-list__row
          .item-list__cell
            - const commitUrl = `/tree/${branch}/${commit.hash}`;
            a(href= commitUrl)= commit.hash
          .item-list__cell
            a(href= commitUrl)= commit.message
          .item-list__cell.--author
            span= commit.author
